doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title TODO ES6
    link(rel="stylesheet" href="base.css")
  body
    section#todoapp
      header#header
        input#new-todo(autofocus placeholder="what needs to be done?" value="")
      section#main
        ul#todo-list
    script(src="app.js")

