doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title TODO ES6
    link(rel="stylesheet" href="base.css")
  body
    section#todoapp
    script(src="bundle.js")
