rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /settings/{uid} {
      allow read: if request.auth.uid == uid;
      allow write: if request.auth.uid == uid;
    }

    match /taskListOrder/{uid} {
      allow read: if request.auth.uid == uid;
      allow write: if request.auth.uid == uid;
    }

    match /taskLists/{taskListId} {
      allow read: if exists(/databases/$(database)/documents/taskListOrder/$(request.auth.uid))
        && get(/databases/$(database)/documents/taskListOrder/$(request.auth.uid)).data[taskListId] != null;
      allow write: if request.auth != null;
    }
  }
}
